<h1>How does Free CFB Parlay work</h1>
<p>Free CFB Parlay is a free online parlay betting platform. When you sign up you get 100 credits to play with. Click the team names you think will win, place your bet and then click 'done' and your card will be saved. After the last game of the weekend is played, check back to see how you did.  Check the leader boards to see how you match up with everyone else.</p>

<br/>

<div class="row">

  <div class="col-sm-2">
    <p>x</p>
  </div>

<div class="col-sm-6">

<h1>Free CFB Parlay</h1>

<div class="col-md-6">
<table class="table table-bordered table-responsive table-striped">
  <thead>
    <tr>
      <td>Favorite</td>
      <td>Spread</td>
      <td>Underdog</td>
      <td>Final Score</td>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>
        <button class="btn btn-danger">Georgia</button>
      </td>
      <td class"spread">+17</td>
      <td>
        <button class="btn btn-danger">Tennessee</button>
      </td>
      <td class="score">45 - 23</td>
    </tr>

    <tr>
      <td>
        <button class="btn btn-danger">Florida</button>
      </td>
      <td class="spread">+7</td>
      <td>
        <button class="btn btn-danger">Vandy</button>
      </td>
      <td class="score">24 - 20</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>

<div class="col-sm-2">
  <p>x</p>
</div>

</div>

