<h1>Free CFB Parlay</h1>

<div class="col-md-6">
<table class="table table-bordered table-responsive table-striped">
  <thead>
    <tr>
      <td>Favorite</td>
      <td>Spread</td>
      <td>Underdog</td>
      <td>Final Score</td>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>
        <button class="btn btn-danger">Georgia</button>
      </td>
      <td class"spread">+17</td>
      <td>
        <button class="btn btn-danger">Tennessee</button>
      </td>
      <td class="score">45 - 23</td>
    </tr>

    <tr>
      <td>
        <button class="btn btn-danger">Florida</button>
      </td>
      <td class="spread">+7</td>
      <td>
        <button class="btn btn-danger">Vandy</button>
      </td>
      <td class="score">24 - 20</td>
    </tr>
  </tbody>
</table>
</div>
</div>
