<br/>
<div class="jumbotron">
  <h1>FREE PARLAY PLAY</h1>
  <p>Free Parlay Play is a place to have fun for free with sports book style parlay bets!</p>
  <p>
    <!-- link to 'start playing now' -->

    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Free to play as much as you want</h2>
    <p>Quickly sign up without an email confirmation and start playing.</p>
  </div>
  <div class="col-md-4">
    <h2>Pay $1 and have your results saved to the leaderboard.</h2>
    <p>Top players earn prizes like boats and candy.</p>
  </div>
  <div class="col-md-4">
    <h2>Easy to understand, simple to do.</h2>
    <p>Unlike confusing sportsbooks we tell you the favorite, the underdog and how many points they are suppose to lose by.</p>
  </div>
</div>

