@import "bootstrap";

 .user-info {
   margin-top: 10px;
 }
 
 .nav {
   margin-top: 5px;
 }

h1 {
  text-align: center;
}

thead {
  font-weight: bold;
  font-size: 1.5em;
}

tr {
  margin: auto;
}

